{{#each replyList}}

<div class="media" style="width: 500px; border-bottom-style: inset;">
	<div class="media-left">
		<a href="#"> <img class="media-object" class="img-circle"
			src="../resources/img/man.jpg" alt="..."
			style="width: 50px; height: 50px">
		</a>
	</div>
	<div class="media-body" style="height: 50px;">
		<p class="Comment"
			style="width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{{reply}}}</p>
		<input type="text" class="updateComment" value="">
		<ul class="list-inline">
			<li class="update" value="{{replyNo}}"><a href="#"><i
					class="glyphicon glyphicon-comment"></i>수정</a></li>
			<li class="delete" value="{{replyNo}}"><a href="#"><i
					class="glyphicon glyphicon-share"></i>삭제</a></li>
			<li class="comentPlus" value="{{replyNo}}">답글 수 : {{totalReplyCount}}</li>
			<li><p>{{regTime}}</p></li>
		</ul>
	</div>	
	
	<div class="comentOfcomentinsert">
		{{#each replyOfReply}}
			<div class="media-m">
				<div style="margin-left: 50px">
					<div class="media-left">
						<a href="#"> <img class="media-object" class="img-circle"
							src="//placehold.it/100" alt="..."
							style="width: 35px; height: 35px">
						</a>
					</div>
					<div class="media-body" style="height: 40px;">
						<p class="Comment"
							style="width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
							<font size="2px" class="replyofreply">{{{reply}}}</font>
						</p>
						<input type="text" class="updateCommentOfComment" value="">
						<ul class="list-inline">
							<li class="updateReplyOfReply" value="{{replyNo}}"><a href="#"><i
									class="glyphicon glyphicon-comment"></i><font size="2px">수정</font></a></li>
							<li class="deleteReplyOfReply" value="{{replyNo}}"><a href="#"><i
									class="glyphicon glyphicon-share"></i><font size="2px">삭제</font></a></li>
							<li><p>
									<font size="2px">{{regTime}}</font>
								</p></li>
						</ul>
					</div>
				</div>
			</div>
		{{/each}}
	</div>	
	
	<div style="margin-left: 50px" class="comentOfcoment">
		<div class="media" style="width: 500px; border-bottom-style: inset;">
			<div class="media-left">
				<a href="#"> <img class="media-object" class="img-circle"
					src="../resources/img/man.jpg" alt="..."
					style="width: 35px; height: 35px">
				</a>
			</div>
			<div class="media-body" style="height: 40px;">
				<input type="text" class="comentOfcomentinput" name="{{replyNo}}"
									style="width:70%; margin-top: 6px"  placeholder="답글을 입력해주세요..." > 
									<input type="hidden" class="replyNo" value="{{replyNo}}">		
			</div>			
		</div>
	</div> 		
</div>
   
{{/each}}


