<div class="media-m"
			style="height: auto; margin-left: 37px; border-left-style: groove; border-left-color: whitesmoke;">
			<div style="height: auto;">
				<div class="media-left"
					style="height: 30px; padding-left: 7px; padding-top: 0px;">
					<a href="#"> <img title="{{userNo}}" class="media-object userPhoto" src="{{userPhoto}}"
						alt="..." style="width: 33px; height: 33px;">
					</a>
				</div>
				<div class="media-body" style="height: auto; width: 180px;">
										
					<div  class="glyphicon glyphicon-trash deleteReplyOfReply" style="font-size: 12px; float: right;  padding-right : 0px;"></div>
					<div class="glyphicon glyphicon-pencil updateReplyOfReply"  style="font-size: 12px; float: right;  padding-right : 6px;"></div>
					<input class="replyNo" type="hidden" value="{{replyNo}}">
					
					<p class="Comment"
						style="width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: auto; margin-top: -2px; word-break: break-all;">
						<font size="2px" title="{{userNo}}" class="userName"
							style="cursor: pointer; width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11.5px; font-weight: bold;">{{userName}}</font>
						<font size="2px" class="replyofreply"
							style="margin-left: 3px; width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11.5px;">{{{reply}}}</font>
					</p>
					<ul class="list-inline"
						style="height: 20px; margin-left: -3px; margin-top: -10px;">
						
						<li><font style="font-size: 11.5px; color: rgba(114, 115, 119, 0.89);">{{regTime}}</font></li>
					</ul>
															
					<input type="text" class="updateCommentOfComment" name="{{replyNo}}"
						style="width: 77%; margin-top: 4.5px; height: 24px;">
				</div>
			</div>
		</div>