{{#each replyOfReplyList}}
<div style="margin-left: 50px; word-break: break-all;">
	<div class="media-left">
		<a href="#"> <img class="media-object" class="img-circle"
			src="{{userPhoto}}" alt="..."
			style="width: 35px; height: 35px">
		</a>
	</div>
	<input type="hidden" class="userNo" value="{{userNo}}">
	<div class="media-body" style="height: auto;">
		<p>
			<font size="2px" class="userName"
							style="font-weight: bold; width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11.5px;">{{userName}}</font>
			<font size="2px" class="replyofreply" style="margin-left: 3px; width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11.5px;">{{{reply}}}</font>
		</p>
		<ul class="list-inline">
			<li class="update" value="{{replyNo}}"><a href="#"><i
					class="glyphicon glyphicon-comment"></i><font size="2px">수정</font></a></li>
			<li class="delete" value="{{replyNo}}"><a href="#"><i
					class="glyphicon glyphicon-share"></i><font size="2px">삭제</font></a></li>
			<li><p>
					<font size="2px">{{regTime}}</font>
				</p></li>
		</ul>
	</div>
</div>
{{/each}}