
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="treeTitle">
      <input type="hidden"  name="treeNo" value="{{Tree.treeNo}}">
      <input type="hidden" name="userNo" value="{{Tree.userNo}}">
       	<h5 title="{{Tree.title}}">{{Tree.title}}<img src="resources/img/btn_edit.png" class="editTitle"
											 style="height:20px; width:20px; margin-left: 2px; margin-top:2px; display:none; cursor:pointer;"></h5>
    </div>
    {{#each subTree}}
      <div class="item" id="treeTitle{{@index}}">
      <input type="hidden" name="treeNo" value="{{treeNo}}">
      <input type="hidden" name="userNo" value="{{userNo}}">
       	<h5 title="{{title}}" >{{title}}<img src="resources/img/btn_edit.png"  class="editTitle"
											style="height:20px; width:20px; margin-left: 2px; margin-top:2px; "></h5>
      </div>
    {{/each}}   
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"
  	style="background-image: linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);"  >
    	<img src="resources/img/btn_treelist_left.png" width="20px"
											height="40px" style="margin: 5px;">

  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
  style="background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);">
    <img src="resources/img/btn_treelist_right.png" width="20px"
												height="40px" style="margin: 5px;">
  </a>
  
</div>