
<div class="media" style="width: 300px;height: auto;margin-left: 14px;margin-bottom: -10px;margin-top: 0px;">			
	<div class="media-left">
		<a href="#"> <img class="media-object" src="{{userConent.contentUserPhoto}}" alt="..." style="width: 40px; height: 40px;margin-left: 1px;">
		</a>
	</div>
	
	<div class="media-body" style="height: 50px;width: 240px;">
		<div class="userName" style="margin-bottom: 1.5px; width: 180px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" value="{{userConent.contentUserNo}}">
			<font style="font-size: 12.5px; display: inline; cursor: pointer;" class="userNameFont">{{userConent.contentUserName}}</font>					
		</div>	
								
		<ul class="list-inline" style="float: left; padding-top: 1px;">
			<li class="source"><font class="sourceFont" style="font-size: 12px;">스크랩 수<span class="badge" style="margin-left: 5px;padding-bottom: 1.5px; padding-top: 1.5px; padding-left: 5px; padding-right: 5px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;max-width: 25px;font-size: 12px;margin-bottom: -2px;">{{userConent.contentUserScriptCount}}</span></font></li>
			<li class="regTime" style="  margin-left: 20px;"><font class="regTimeFont" style="font-size: 12px; ">{{userConent.contentusersourceRegTime}}</font></li>
		</ul>
		
		<button type="button" class="btn btn-default btn-xs sourceContent" style="margin-top: 1px;margin-left: 8px;" value="{{userConent.contentUserContentNo}}"><font>내용<br>보기</font></button>
	</div>		
</div>